@model Contracts.Employee.Requests.CreateEmployeeRequest
@{
    ViewData["Title"] = "Create employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="padding: 12px 30px;">
    <div class="row d-flex">
        <div class="col-1">
            <a asp-action="Index">
                <svg width="24" height="20" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g filter="url(#filter0_d_0_1)">
                        <path d="M19 8H5" stroke="#4A1B56" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </g>
                    <g filter="url(#filter1_d_0_1)">
                        <path d="M12 15L5 8L12 1" stroke="#4A1B56" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" shape-rendering="crispEdges" />
                    </g>
                    <defs>
                        <filter id="filter0_d_0_1" x="0" y="7" width="24" height="10" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix" />
                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                            <feOffset dy="4" />
                            <feGaussianBlur stdDeviation="2" />
                            <feComposite in2="hardAlpha" operator="out" />
                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_0_1" />
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_0_1" result="shape" />
                        </filter>
                        <filter id="filter1_d_0_1" x="0" y="0" width="17" height="24" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix" />
                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                            <feOffset dy="4" />
                            <feGaussianBlur stdDeviation="2" />
                            <feComposite in2="hardAlpha" operator="out" />
                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_0_1" />
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_0_1" result="shape" />
                        </filter>
                    </defs>
                </svg>
            </a>
        </div>
        <div class="col-5"></div>
        <div class="col-3"><h4>Create employee</h4></div>
    </div>

<hr />
<div class="row d-flex justify-content-center">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row py-2">
                <label asp-for="FirstName" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-8">
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                
            </div>
            <div class="form-group row py-2">
                <label asp-for="LastName" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-8">
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row py-2">
                <label asp-for="Email" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-8">
                    <input asp-for="Email" class="form-control" type="email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row py-2">
                <label asp-for="PhoneNumber" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-8">
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row py-2">
                <label asp-for="Position" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-8">
                    <input asp-for="Position" class="form-control" />
                    <span asp-validation-for="Position" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group d-flex justify-content-end mt-3">
                <input type="submit" value="Create" class="btn btn-primary col-5" />
            </div>
        </form>
    </div>
</div>
</div>
@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@